# These variables are only available in your SST code.
# To apply them to your Lambda functions, checkout this doc - https://docs.serverless-stack.com/environment-variables#environment-variables-in-lambda-functions

### AWS
AWS_PROFILE=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

### STACK
DOMAIN_ALIAS=
DOMAIN_NAME=